* {
  margin: 0;
}
nav {
  margin-top: 700px;
}
.seal {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffca29;
  border-radius: 100px;
}
.hole {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: black;
  border-radius: 100px;
}
.seals {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.holes {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 95;
}
.hole11 {
  left: 0;
}
.hole12 {
  left: 100px;
}
.hole13 {
  left: 200px;
}
.seals1 {
  display: flex;
  flex-direction: row;
}
.hole21 {
  right: 0;
  bottom: 0;
}
.hole22 {
  right: 0;
  bottom: 200px;
}
.hole23 {
  right: 0;
  bottom: 400px;
}
.seals2 {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
  justify-content: space-between;
}
.hole31 {
  left: 50px;
  top: 200px;
}
.hole32 {
  left: 150px;
  top: 200px;
}
.hole33 {
  left: 250px;
  top: 200px;
}
.hole34 {
  left: 350px;
  top: 200px;
}
.seals3 {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  margin-left: 50px;
}
.hole41 {
  left: 32.5px;
  top: 0;
}
.hole42 {
  left: 200px;
  top: 0;
}
.hole43 {
  left: 367px;
  bottom: 0;
}
/*
.seals4{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: flex-end;
}
*/
.seals4 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.seals4 > div:last-child {
  align-self: flex-end;
}
.hole51 {
  left: 0;
  top: 0;
}
.hole52 {
  left: 100px;
  top: 200px;
}
.hole53 {
  left: 200px;
  top: 200px;
}
.hole54 {
  left: 300px;
  top: 200px;
}
.hole55 {
  left: 400px;
  top: 400px;
}
.seals5 {
  display: flex;
  flex-direction: row;
}
.seals5 > div:last-child {
  align-self: flex-end;
}
.seals5 > div:nth-child(2) {
  align-self: center;
}
.seals5 > div:nth-child(3) {
  align-self: center;
}
.seals5 > div:nth-child(4) {
  align-self: center;
}
